<%= form_for(@todo) do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '标题' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label '描述' %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label '创建时间' %><br>
    <%= f.date_select :create_time %>
  </div>
  <div class="field">
    <%= f.label '是否完成？' %><br>
    <%= f.check_box :has_finished %>
  </div>
  <div class="field">
    <%= f.label '领主' %><br>
    <%= select_tag :user_id, options_from_collection_for_select(User.all, "id", "name")%>
  </div>
  <div class="actions">
    <%= f.submit '提交'%>
  </div>
<% end %>
