<h1>待办清单</h1>

<table>
  <thead>
    <tr>
      <th>领主</th>
      <th>事项名称</th>
      <th>描述</th>
      <th>问题创建时间</th>
      <th>是否完成</th>
      <th colspan=2>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr class='todo-item todo-item-<%= todo.has_finished.to_s == 'true' ? :done : :todo%>'>
        <td><%= todo.user.name %></td>
        <td><%= todo.title %></td>
        <td><%= todo.body %></td>
        <td><%= todo.create_time %></td>
        <td><%= todo.has_finished %></td>
        <td><%= link_to '编辑', edit_todo_path(todo) %></td>
        <td><%= link_to '删除', todo, :method=>:delete, data:{confirm:'你确定要删除吗？'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<span>
  <%= link_to '新建', new_todo_path %>
</span>
<span >
  <%= link_to '邮件提醒', new_mailer_path %>
</span>
